CSIT128/Lab8/lol.xsd

<?xml version="1.0" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="scheduleList">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="schedule" minOccurs="0" maxOccurs="unbounded">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="Station" type="xsd:string"/>
							<xsd:element name="Time" type="xsd:string"/>
							<xsd:element name="Platform" type="xsd:string"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		<xsd:attribute name="Destination" type="xsd:string" />
		<xsd:attribute name="TimeLeft" type="xsd:string" />
		</xsd:complexType>
	</xsd:element>
</xsd:schema>