CSIT128/review/lol.xsd

<?xml version = "1.0"?>
<xsd:schema  xmlns:xsd="http://www.w3.org/2001/XMLSchema"> 
	<xsd:element name="trainlist">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="train" minOccurs="0" maxOccurs="unbounded">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="time" type="xsd:string"/>
							<xsd:element name="station" type="xsd:string"/>
							<xsd:element name="platform" type="xsd:string"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
							<xsd:attribute name="state" type="xsd:string"/>
		</xsd:complexType>
	</xsd:element>	
</xsd:schema>